body {
    background-color: #131313;
}

.title-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    height: 40px;
    border-bottom: 1px solid #3a3a3c;
    letter-spacing: .01em;
}

.title-text {
    color: #FFFEFE;
    font-family: Georgia, serif;
    font-size: 28px;
    font-weight: bolder;
    padding-bottom: 5px;
}

.game-body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

.board-input {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
}

.word-input {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.letter-input {
    border: 2px solid #3a3a3c;
    font-family: Verdana, sans-serif;
    color: #FFFEFE;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    line-height: 52px;
    height: 52px;
    width: 52px;
}